<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Some Website</title>
</head>
<body>
  {{> header}}
  <p>{{screamIt 'This is the about page'}}</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim eligendi officia tempore voluptate ab possimus adipisci saepe delectus velit voluptatibus reiciendis facere iure neque accusantium, aliquid veritatis voluptatum debitis natus.Officiis debitisc earum possimus quam at placeat qui delectus, velit aperiam ducimus. Nulla sed in nostrum accusamus quia facere tempora dolorum, id explicabo veritatis nisi reiciendis accusantium eaque, ratione asperiores.</p>
  {{> footer}}
</body>
</html>